block variables

mixin commit(name, numb)
	div(class= name).commits
		.commits__icon !{cupIcon}
		.commits__content
			.commits__text
				span Более
				span.commits__numb= numb
				span  отзывов с оценкой
			.commits__rating !{star}!{star}!{star}!{star}!{star}