block variables

mixin commit(name)
	div(class= name).commits
		.commits__icon !{cupIcon}
		.commits__text
			span Более
			b  50
			span  отзывов с оценкой
		.commits__rating !{star}!{star}!{star}!{star}!{star}