block variables

include ../mixins/map-list
include ../mixins/map-sponsor
div.main__map.map
	#map
	.map__block.container
		.map__hint
			ul.map__list
				for key in mapBlock
					+mapList(key)
			+sponsor(mapSponsor)
		.map__hint.false
			button.arrow-left !{arrow}
			button.arrow-right !{arrow}
			ul.false__list
				for key in mapBlock
					+mapList(key)
			.false__rings
				.false__ring.active !{ring}
				.false__ring !{ring}
				.false__ring !{ring}
			+sponsor(falseSponsor)

