

include ../mixins/review-card

section.main__reviews.reviews
	.reviews__container.container
		.reviews__title
			h3 Отзывы:
		.reviews__cards.cards
			ul.cards__list
				for index, key in reviewCards
					+reviewCard(key)
			.reviews__more.more
				button.more__text.more
					| !{arrow}
					p Показать Все ( )
					| !{arrow}
				button.more__text-false.more
					p Показать Все ( )
					| !{arrow}
			ul.cards__list-false
			.reviews__hide.hide
				button.hide__text.more
					| !{arrow}
					p Скрыть
					| !{arrow}
				button.hide__text-false.more
					p Скрыть
					| !{arrow}